# Ignoruj wirtualne środowisko
.venv/

# Experiments resuts
experiments/01_MI_results/*
experiments/02_MI_results/*
experiments/03_MI_results/*
experiments/01_FS_results/*

# Standardowe pliki Pythona
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Pliki logów
*.log

# Pliki cache
*.pytest_cache/
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/

# IDE / edytory
.vscode/
.idea/
*.swp
*.swo

# Pliki systemowe
.DS_Store
Thumbs.db

.feature_sel.py